html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    position: fixed;
}

a {
    color: #a30f0f;
    text-decoration: none;
}

canvas {
    opacity: 100%;
    position: fixed;
    top: -10px;
    right: -50px;
    z-index: -1;
}

marquee {
    margin-top: 0.5%;
    background-color: #a30f0f;
    color: white
}

@keyframes hourglassRotation {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.svg-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-top: -5%;
    animation: hourglassRotation 20s linear infinite;

}

.svg-2-wrapper {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 90%;
    z-index: -5;
    overflow: hidden;
    opacity: 70%;
}

.text-boxes {
    text-align: center;
    font-size: 15px;
}

#text-1:hover {
    opacity: 100%;
}

#text-1 {
    opacity: 0%;
    position: absolute;
    width: 10%;
    top: 15%;
    left: 70%;
}

#text-2 {
    opacity: 0%;
    position: absolute;
    top: 70%;
    left: 30%;
    width: 20%;
}

#text-2:active {
    opacity: 100%;
}

#text-3 {
    opacity: 0%;
    position: absolute;
    top: 72%;
    left: 70%;
    width: 20%;
}

#text-3:hover {
    opacity: 100%;
}

#text-4 {
    opacity: 0%;
    position: absolute;
    top: 12%;
    left: 5%;
    width: 20%;
}

#text-4:active {
    opacity: 100%;
}

#about {
    position: absolute;
    text-align: center;
    top: 0%;
    left: 49%;
}

/* LETTER PAGE*/
.letter-body{
    position: relative;
}

.letter-title {
    color: #222562;
}

.letter {
    padding-left: 50px;
    padding-right: 50px;
}

.letter:active #message {
    display: none;
}

.letter:active .letter-title {
    display: none;
}

#unwelcome-message {
    display: none;
}

.letter:active #unwelcome-message {
    display: flex;
    font-size: 50px;
}

img {
    width: 200px;
    padding-left: 50px;
}

/* ABOUT PAGE */

.body-about {
    position: relative;
}

#about-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222562;
    text-align: center;
}

.about-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30%;
    padding-right: 30%;
}

#about-page-text {
    text-align: center;
    line-height: 150%;
}